cnn-pytorch/data.tar.gz filter=lfs diff=lfs merge=lfs -text
category-recognition-cnn-pytorch/data.tar.gz filter=lfs diff=lfs merge=lfs -text
object-category-detection-pytorch/data.tar.gz filter=lfs diff=lfs merge=lfs -text
